/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/registerForm/registerForm.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.registerForm_form-container__i2xar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	padding: 20px;
	background-color: #f9f9f9;
}

.registerForm_form__34EWm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 40px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registerForm_name-fields__1x2qp {
	display: flex;
	gap: 20px;
	width: 100%;
}

.registerForm_name-fields__1x2qp input {
	width: 100%;
}

.registerForm_form__34EWm input {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #f0f4f8;
	font-size: 16px;
	text-align: center;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.registerForm_form__34EWm input::placeholder {
	color: rgba(21, 2, 2, 0.5);
}

.registerForm_form__34EWm input:focus {
	border-color: #0070f3;
	outline: none;
	box-shadow: 0 0 3px rgba(0, 112, 243, 0.5);
}

.registerForm_form__34EWm button {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: green;
	color: white;
	font-size: 16px;
	font-weight: bold;
	transition: background-image 0.3s, transform 0.3s;
}

.registerForm_form__34EWm button:hover {
	background-color: rgb(1, 102, 1);
	transform: scale(1.05);
}

.registerForm_signin__ipsyT {
	text-decoration: none;
	color: #0070f3;
	font-weight: bold;
	transition: color 0.3s;
}

.registerForm_signin__ipsyT:hover {
	color: #005bb5;
	text-decoration: underline;
}

.registerForm_error__LXKhj {
	color: #ff6347;
	font-size: 14px;
	margin-top: -15px;
}

/* Responsive Design */
@media (max-width: 480px) {
	.registerForm_form__34EWm {
		padding: 20px;
	}

	.registerForm_name-fields__1x2qp {
		flex-direction: column;
		gap: 10px;
	}

	.registerForm_form__34EWm input,
	.registerForm_form__34EWm button {
		padding: 10px;
		font-size: 14px;
	}
}

