/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/search/search.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.search_searchInputContainer__QgQEl {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width of the parent */
  margin: 100px 0px -50px 0px; /* Optional: Add margin for spacing */
}

.search_searchInput__3cKVu {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center the items vertically */
  width: 70%; /* Set the width of the search bar */
  height: 55px; /* Increase the height of the search bar */
  background-color: #f1f1f1; /* Add a background color */
  border: 1px solid #ccc; /* Add a border to the search bar */
  border-radius: 4px; /* Add rounded corners to the search bar */
  padding: 10px; /* Add padding to the search bar */
  box-sizing: border-box; /* Include padding in the width */
}

.search_searchInput__3cKVu input[type="text"] {
  width: 100%; /* Make the input field full width */
  height: 100%; /* Make the input field the same height as the search bar */
  border: none; /* Remove the border from the input field */
  background-color: transparent; /* Set the background color of the input field to transparent */
  font-size: 20px; /* Adjust the font size of the input field */
}

.search_searchInput__3cKVu input[type="text"]::placeholder {
  color: #999; /* Set the color of the placeholder text */
}

.search_searchInput__3cKVu input[type="text"]:focus {
  outline: none; /* Remove the outline from the input field when focused */
  background-color: #fff; /* Change the background color of the input field when focused */
}

@media screen and (max-width: 768px) {
  .search_searchInput__3cKVu {
    width: 100%; /* Make the search bar full width on small screens */
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/order/order.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/

.order_container__P02vE {
	margin-top: 200px;
    margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 20px; /* Adds space between items */
}
.order_product__UvQEO {
	/* width: 20%;
	min-height: 600px;
	*/
	width: 20%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0; /* Light background for the info section */
    border-radius: 8px; /* Rounded corners for the info section */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.order_price__f4h7m {
    margin-bottom: 10px; /* Adjust space below the price */
}

.order_info__aTPdC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0; /* Adds padding around the text */
}

.order_name__Kd29u {
    min-height: 70px;
    text-align: center;
    margin-bottom: 10px; /* Adjust space below the name */
}

.order_text__Y17we {
    min-height: 150px;
    text-align: center;
    margin-bottom: 10px; /* Adjust space below the text */
}

.order_button__3xPk1 {
    font-size: 14px;
	margin-top: 5px;
	padding: 10px 20px; /* More clickable area */
	background-color: green; /* Primary button color */
	color: white; /* Text color */
	border: none; /* Removes default border */
	border-radius: 5px; /* Rounded corners */
	cursor: pointer; /* Changes cursor to pointer */
	transition: all 0.2s ease; /* Smooth background color transition */
}

.order_button__3xPk1:hover {
	background-color: #0b7035; /* Darker shade on hover */
}

.order_cart__QSkF5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006400;

}

.order_cartContainer__Hf559 {
    display: flex;
    gap: 6px;
    align-items: center;
}


.order_removeButton__zzoI8 {
    background-color: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.2s ease;
    border-radius: 5px;
    margin-top: 5px;
}

.order_removeButton__zzoI8:hover {
    background-color: #d9534f;
}

@media screen and (max-width: 1000px) {
    .order_product__UvQEO {
        width: 45%;
    }
}

@media screen and (max-width: 760px) {
    .order_product__UvQEO {
        width: 100%;
    }
    .order_container__P02vE {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
}

