/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/contact/contact.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* Contact Page styles */

.contact_container__cCpH8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}


.contact_connectSection__S5TMf {
  display: flex;
  padding: 20px;
  background-color: var(--bgSoft);
  width: 100%;
  max-width: 1200px;
  text-align: left;
  border-radius: 10px;
  margin-top: 50px;
}

.contact_contactInfo__3Yswu {
  flex: 1 1;
  padding: 20px;
}

.contact_contactForm__erSNo {
  flex: 2 1;
  padding: 20px;
}

.contact_contactInfo__3Yswu h2 {
  margin-bottom: 10px;
}

.contact_contactInfo__3Yswu p {
  margin-bottom: 20px;
}

.contact_contactForm__erSNo form {
  display: flex;
  flex-direction: column;
}

.contact_inputGroup__NBs4k {
  display: flex;
  justify-content: space-between;
}

.contact_inputField__NvZxy {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 10px;
}

.contact_inputField__NvZxy label {
  margin-bottom: 5px;
}

.contact_inputField__NvZxy input,
.contact_inputField__NvZxy textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact_textarea__nz_oc {
  resize: vertical;
}

.contact_submitButton__Pottv {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.contact_submitButton__Pottv:hover {
  background-color: rgb(1, 105, 1);
}

